<section>
  <div class="diagram-container">
    <h1>{{ diagram.name }}</h1>
    <div class="content-container">
      <div class="image-container">
        <img [src]="diagram.image" alt="Diagram image" />
        <a href="{{ diagram.sourceImage }}" target="_blank"
          ><i>Source image</i></a
        >
      </div>
      <div class="text-container">
        <div class="diagram-description">
          <p>
            {{ diagram.description }}
          </p>
        </div>
        <div class="diagram-uses diagram-box">
          <h3>On l'utilise pour quoi ?</h3>
          <p>
            {{ diagram.uses }}
          </p>
        </div>
        <div class="diagram-method diagram-box">
          <h3>Comment procéder ?</h3>
          <p>
           {{ diagram.method }}
          </p>
        </div>
        <a href="{{ diagram.source }}" target="_blank"><i>Sources</i></a>
      </div>
    </div>
  </div>
</section>
