/* MOBILE FIRST */
.card {
  display: flex;
  flex-direction: column; 
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0.625rem;
  background-color: white;
  color: black;
  text-align: center;
  width: 90%;
  margin: auto;
}

.card h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  margin-top: 0.3rem;
  height: 5rem;
  width: 100%;
}

.card img {
  margin-bottom: 2rem;
  max-width: 80%;
  height: auto;
  object-fit: cover;
  box-shadow: 0.1em 0.2em 0.4em rgba(0, 0, 0, 0.2);
}

.card p {
  margin-top: 2rem;
  font-size: 1rem;
  font-style: italic;
}

.card a {
  margin-bottom: 1.5rem;
  background-color: #156bc6;
  color: white;
  padding: 0.5em 0.7em;
  text-decoration: none;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  box-shadow: 0.1em 0.2em 0.4em rgba(0, 0, 0, 0.2);
}

.card a:hover {
  background-color: #054b97;
  box-shadow: 0.1em 0.2em 0.4em rgba(0, 0, 0, 0.4);
}
 
@media (min-width: 390px) and (max-width: 576px) { 
  .card {
    width: 75%;
    margin: auto;
  }
 }

/* TABLETS AND MORE */
@media (min-width: 576px) {
  .card h2 {
    font-size: 1.5rem;
    margin-top: 0.3rem;
    height: 5rem;
    width: 13rem;
  }

  .card img {
    width: 10rem;
    height: 10rem;
  }
}
