<nav class="navbar">
  <div id="menu-toggle" class="menu-toggle-button">
    <div class="burger-icon">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
  <ul class="nav-list">
    <li class="nav-item">
      <a routerLink="/main-view" class="nav-link">Accueil 🛖</a>
    </li>
    <li class="nav-item">
      <a routerLink="/uml" class="nav-link">Diagrammes UML 🌀</a>
    </li>
    <li class="nav-item">
      <a routerLink="/merise" class="nav-link">Diagrammes Merise 🔆</a>
    </li>
    <li class="nav-item">
      <a routerLink="/contact" class="nav-link">Contact 💭</a>
    </li>
  </ul>
</nav>
