.navbar {
  background-color: black;
  padding: 0.4rem;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link.active {
  font-weight: bold;
}

/* Menu burger */
.menu-toggle-button {
  display: none;
  cursor: pointer;
}

.burger-icon {
  display: flex;
  flex-direction: column;
  width: 1.875rem;
  height: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.bar {
  width: 1.875rem;
  height: 0.25rem;
  background-color: white;
}

/* Collapse */
@media (max-width: 768px) {
  .navbar {
    padding-left: 1rem;
  }

  .menu-toggle-button {
    display: flex;
    justify-content: end;
  }

  .nav-list {
    flex-direction: column;
  }

  .nav-item {
    padding: 0.2rem 0;
  }
}
