html,
body {
  /* Position */
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0px;

  /* Background */
  color: white;
  font-family: "Rubik", sans-serif;
  background-image: url("./assets/luis-del-rio.jpg");
  background-size: cover;
  background-position: center;
}
