html,
body {
  /* Position */
  display: block;
  box-sizing: border-box;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;

  /* Background */
  color: white;
  font-family: "Rubik", sans-serif;
  background-image: url("./assets/luis-del-rio.avif");
  background-size: cover;
  background-position: initial;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 576px) {
  body {
    background-size: fill;
    background-image: url("./assets/sm-luis-del-rio-sm.avif");
  }
}
