.navbar {
  background-color: black;
  padding: 0.1rem;
}

.logos {
  display: none;
}

.logos a {
  font-size: 2.9rem;
  color: white;
  text-decoration: none;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link.active {
  font-weight: bold;
}

.menu-toggle {
  font-size: 2.5rem;
  background-color: black;
  color: white;
  padding: 0;
  cursor: pointer;
  border: none;
}

/* CONTRASTING MODE */
.contrasting-mode,
.contrasting-mode .logos a,
.contrasting-mode .menu-toggle,
.contrasting-mode .nav-link {
  background-color: rgb(235, 233, 233);
  color: black;
}

/* COLLAPSED */
@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem 0rem 1rem;
  }

  .logos {
    display: flex;
    justify-content: space-between;
  }

  .nav-list {
    flex-direction: column;
  }

  .nav-item {
    padding: 0.2rem 0;
  }

  .nav-item:last-child {
    padding-bottom: 0.8rem;
  }
}
