.navbar {
  background-color: black;
  padding: 0.4rem; 
}

.logos { 
  display: none;
  
}

.logos a {
  font-size: 2rem;
  color: white; 
  text-decoration: none;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link.active {
  font-weight: bold;
} 

.menu-toggle { 
  display: none;
  font-size: 2rem;
  background-color: black;
  color: white;  
  margin-left: 2rem;
  padding: 0;
  cursor: pointer;
  border: none;
}

/* Collapse */
@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

  .logos {
    display: flex;
    justify-content: space-between;
  }

  .menu-toggle {
    display: block;
  }

  .nav-list {
    flex-direction: column; 
  }

  .nav-item {
    padding: 0.2rem 0;
  }
}
